#box { 
    width: 150px; 
    height: 150px; 
    position: absolute; 
    background-image: url("deer.png");
    left: 200px; 
    top: 200px; 
}

h1 {
    text-align: center;
    color: red;
    font-family: cursive;
    font-size: 45px;
    border-bottom: 5px double green;
}
p {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 200px;
}
#north {
    width: 300px;
    height: 300px;
    background-image: url("northpole.png");
}